:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1 + p,
button {
  text-align: center;
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

.wrap {
  margin: auto;
  padding: 0 1.5rem;
  max-width: 64rem;
}

.apply .wrap {
  max-width: 50ch;
}

header {
  min-height: 100vh;
  background-image: url("../img/blue-splash.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--orange);
  text-shadow: 2px 2px 0 white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--green);
  z-index: 1;
  opacity: 0.8;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  padding: 1rem 0.5rem;
  transition: transform 0.6s;
}

nav li:nth-child(odd) a:hover {
  transform: scale(1.5) rotate(5deg);
}

nav li:nth-child(even) a:hover {
  transform: scale(1.5) rotate(-5deg);
}

h1 {
  font-size: 6rem;
  margin: 0;
}

h1 + p {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 4rem;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}

section {
  padding: 4rem 0 6rem;
  border-top: 7px solid rgba(0, 0, 0, 0.06);
  border-bottom: 7px solid rgba(0, 0, 0, 0.06);
}

.obstacles {
  background: var(--orange);
  text-align: center;
}

.grid article {
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.obstacles article {
  background: var(--green);
  border-radius: 1.5rem;
  transition: 0.4s;
}

.obstacles article:hover {
  background: var(--yellow);
  color: var(--orange);
}
.obstacle-title {
  font-size: 1.5rem;
  margin: 0;
}
.obstacle-title a {
  text-decoration: none;
  color: inherit;
}

.prizes {
  background: var(--green);
}

.prizes article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--yellow);
}
.prizes article img {
  transition: 1s;
}

.prizes article:hover img {
  transform: rotate(360deg);
}

.apply img {
  display: block;
  margin: auto;
}

input {
  font: inherit;
}

label {
  display: block;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 1rem;
  background: var(--orange);
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}

button {
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: var(--yellow);
  font-size: 1.5rem;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  transition: 0.6s;
}

button:hover,
button:focus {
  background-color: var(--green);
  color: white;
}

footer {
  text-align: center;
  background: var(--yellow);
  color: black;
  padding: 1.5rem;
  border-top: 0.5rem solid rgba(0, 0, 0, 0.06);
}

@media (min-width: 640px) {
  .grid {
    display: flex;
    gap: 1.5rem;
  }
  .grid article {
    flex: 1;
  }
}
